<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="{{ url_for('static', filename='barrage_live/jquery-1.11.1.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='barrage_live/style.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='barrage_live/CommentCoreLibrary.modified.js') }}"></script>
	<link href="{{url_for('static', filename='barrage_live/barrage_live.css')}}" rel="stylesheet">
</head>
<body>
	<div class="abp"><div class="container" id="c" style="height:400px;"></div></div>
<script>
var cm=new CommentManager(document.getElementById('c'));
cm.start();
var d=[];
d["dur"]=6000;
function doget() {
	$.get("{{ url_for('ajax_barrage_live')}}",function(data,status){
		dd=eval(data);
		for (i=0;i<dd.length;i++) {
			d["text"]=dd[i];
			var dp=new ScrollComment(cm,d);
			cm.send(dp);
			dp.y=25*Math.floor(Math.random()*16);
		}
	});
}
setInterval(doget,2000);
</script>
</body>
</html>
